<!DOCTYPE html>
<html lang="en">
<!--Header-->
<%- include('layouts/header'); -%>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .h4 {
            line-height: 2em;
        }

        pre {
            border: 0;
            font-size: 18px;
            line-height: 2em;
            font-family: 'Roboto', sans-serif;
            background-color: transparent;
            white-space: pre-wrap;
            /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;
            /* Mozilla, since 1999 */
            white-space: -pre-wrap;
            /* Opera 4-6 */
            white-space: -o-pre-wrap;
            /* Opera 7 */
            word-wrap: break-word;
            /* Internet Explorer 5.5+ */
        }
    </style>

    <body>
        <!--Nav-->
        <%- include('layouts/nav'); -%>
            <div class="container" style="font-family: 'Roboto', sans-serif">
                <br><br>
                <p class="h1" style="margin-top: 30px; margin-bottom: 30px;text-align: center;">
                    <%= postSlug[0].district %>
                </p>
                <div class="row justify-content-start">
                    <div class="col-md-6"><img src="<%= postSlug[0].img1 %>" width="100%"
                            style="image-rendering: pixelated;" alt=""></div>
                    <div class="col-md-6"><img src="<%= postSlug[0].img2 %>" width="100%"
                            style="image-rendering: pixelated;" alt=""></div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <p class="h1" style="margin-top: 30px">I. Vị trí địa lý</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <div class="row justify-content-start photo">
                            <div class="col-md-6">
                                <li class="lh-lg">
                                    <p>
                                    <pre><%= postSlug[0].text1 %></pre>
                                    </p>
                                </li>
                            </div>
                            <div class="col-md-6"><img src="<%= postSlug[0].img3 %>" width="100%"
                                    style="image-rendering: pixelated;" alt=""></div>
                        </div>
                    </ul>
                    <li>
                        <p class="h1" style="margin-top: 30px">II. Tổng quan</p>
                    </li>
                    <p>
                    <pre><%= postSlug[0].text2 %></pre>
                    </p>
                    <li>
                        <p class="h1" style="margin-top: 30px">III. Đơn vị hành chính</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <div class="row justify-content-start photo">
                            <div class="col-md-6">
                                <li class="lh-lg">
                                    <p>
                                    <pre><%= postSlug[0].text3 %></pre>
                                    </p>
                                </li>
                            </div>
                            <div class="col-md-6"><img src="<%= postSlug[0].img4 %>" width="100%"
                                    style="image-rendering: pixelated;" alt=""></div>
                        </div>
                    </ul>
                    </li>
                    <li>
                        <p class="h1" style="margin-top: 30px">IV. Điều kiện tự nhiên:</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <div class="row justify-content-start photo">
                            <div class="col-md-6">
                                <li class="lh-lg">
                                    <p>
                                    <pre><%= postSlug[0].text4 %></pre>
                                    </p>
                                </li>
                            </div>
                            <div class="col-md-6"><img src="<%= postSlug[0].img5 %>" width="100%"
                                    style="image-rendering: pixelated;" alt=""></div>
                        </div>
                    </ul>
                    </li>
                    <li>
                        <p class="h1" style="margin-top: 30px">V. Kinh tế:</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <li>
                            <p>
                            <pre><%= postSlug[0].text5 %></pre>
                            </p>
                        </li>
                    </ul>
                    </li>
                    <li>
                        <p class="h1" style="margin-top: 30px">VI. Khu công nghiệp: </p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <li>
                            <p>
                            <pre><%= postSlug[0].text6 %></pre>
                            </p>
                        </li>
                        <ul>
                            <% for(var i=1; i < 7; i++) { %>
                                <% if(postSlug[0].img6['photo' + i] !='' ) { %>
                                    <center>
                                        <li>
                                            <div class="col-md-12"><img src="<%= postSlug[0].img6['photo' + i] %>"
                                                    width="100%" style="image-rendering: pixelated; margin-top: 20px;"
                                                    alt=""></div>
                                        </li>
                                    </center>
                                    <% } %>
                                        <% } %>
                        </ul>
                        <li>
                            <p>
                            <pre><%= postSlug[0].text7 %></pre>
                            </p>
                        </li>
                    </ul>
                    <li>
                        <p class="h1" style="">VI. Cụm công nghiệp:</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <p>
                        <pre><%= postSlug[0].text8 %></pre>
                        </p>
                    </ul>
                    <li>
                        <p class="h1" style="margin-top: 30px">VII. Thắng cảnh, du lịch</p>
                    </li>
                    <ul style="margin-left: 10px;">
                        <li>
                            <p>
                            <pre><%= postSlug[0].text9 %></pre>
                            </p>
                        </li>
                        <% for(var i=1; i < 11; i++) { %>
                            <% if(postSlug[0].img7['photo' + i] !='' ) { %>
                                <center>
                                    <li>
                                        <div class="col-md-12"><img src="<%= postSlug[0].img7['photo' + i] %>"
                                                width="100%" style="image-rendering: pixelated; margin-top: 20px;"
                                                alt=""></div>
                                    </li>
                                </center>
                                <% } %>
                                    <% } %>
                                        <li>
                                            <p>
                                            <pre><%= postSlug[0].text10 %></pre>
                                            </p>
                                        </li>
                    </ul>
                    <br /><br />
                    <li>
                        <center>
                            <div class="ytb">

                            </div>
                        </center>
                    </li>
                </ul>


            </div>

            <!--Footer-->
            <%- include('layouts/footer'); -%>
                <!--Script-->
                <%- include('layouts/script'); -%>

                    <script>
                        document.getElementsByTagName("title")[0].innerText = document.querySelector("body > div.container > p").innerText;

                        var allPhoto = document.getElementsByClassName("photo");

                        for (const photo of allPhoto) {
                            if (photo.getElementsByTagName("img")[0].src.search(".png") == -1) {
                                photo.getElementsByTagName("div")[1].className = "col-md-0";
                                photo.getElementsByTagName("div")[0].className = "col-md-12";
                            }
                        }
                    </script>
                    <script>
                        function getId(url) {
                            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
                            const match = url.match(regExp);

                            return (match && match[2].length === 11)
                                ? match[2]
                                : null;
                        }

                        var urlne = "<%= postSlug[0].iframe %>";
                        const videoId = getId(urlne);
                        const iframeMarkup = '<iframe width="560" height="315" src="//www.youtube.com/embed/'
                            + videoId + '" frameborder="0" allowfullscreen></iframe>';
                        document.getElementsByClassName('ytb')[0].innerHTML = iframeMarkup
                    </script>
    </body>

</html>